munitsample/src/main/app/munitsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="munitsampleFlow1">
        <file:inbound-endpoint path="C:\AON" moveToDirectory="C:\AON\backup" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="accounts.csv" caseSensitive="true"/>
        </file:inbound-endpoint>
        <logger message="start of the flow" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="07795c4b-605b-45e8-919a-f6fcecc3b4ae">
            <dw:input-payload mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload[1]]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload.name]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
